<!DOCTYPE html>
<html>
<head>
    <title>Siddheshwar Nath Dham</title>
    <style>
        body {
            margin: 0;
            font-family: Arial;
            text-align: center;
            background: linear-gradient(orange, gold);
            color: white;
        }
        h1 {
            margin-top: 100px;
            font-size: 40px;
        }
        p {
            font-size: 20px;
        }
    </style>
</head>
<body>
    <h1>🙏 Welcome to Siddheshwar Nath Dham</h1>
    <p>Har Har Mahadev 🔱</p>
</body>
</html>
